@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "JUST";
  src: url("/fonts/JUST-Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labora";
  src: url("/fonts/Labora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.vertical-rl {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-rl;
}

.blink {
  animation: blink 1s infinite;
  color: blue;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .maFenetreTextEdit {
  background-image: url("../../public/images/1984.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 60px;
  height: 320px;
}
.maFenetreTextEdit div p {
  padding-bottom: 8px;
}

.maFenetreTextEdit div {
  overflow: scroll;
} */

.ombre{
  -webkit-filter: drop-shadow(5px 5px 0px #0000005b);
  filter: drop-shadow(5px 5px 0px #21212151);
}

.scrollablediv{
  scrollbar-color: #555 #f1f1f1;
  scrollbar-width: thin;  
}